@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    font-family: Inter;
}
#DocumentSidebar {
    padding: 0 30px;
    box-shadow: none !important;
}
#logo {
    margin-bottom: 20px !important;
}
.paddingPage,
.narrowDocument {
    padding-left: 70px !important;
    box-sizing: border-box;
}
.documentTitle {
    font-size: 40px !important;
    font-weight: bold !important;
    margin: 20px 0;
}

.documentListItem {
    font-size: 15px !important;
    padding: 5px !important;
    height: auto !important;
}

.elementHeader1 {
    /*background-color: yellow !important;*/
    background-color: #0000 !important;
    text-decoration: underline;
}


#HierarchyEditor .elementContainer {
	padding-bottom: 8px !important;
}
